@import '../../../assets/styles/mixinsResets.scss';

h1
{
	font: $bold pixToEm(60) $lato;
	margin: 0 auto pixToEm(20);
	text-align: center;
}

h3, p
{
	margin: 0 auto pixToEm(5);
	text-align: center;
}