@import '../../../assets/styles/_mixinsResets.scss';

.peliculasContainer
{
	.container
	{
		.card-columns
		{
			.card
			{
				background-image: -webkit-linear-gradient(#626262, #272727);
				background-image: -o-linear-gradient(#626262, #272727);
				background-image: linear-gradient(#626262, #272727);
				color: white;

				h2
				{
					cursor: pointer;
					margin: 0 auto pixToEm(10);
				}
			}
		}
	}
}

@media screen and (max-width: 768px)
{
	.peliculasContainer
	{
		.container
		{
			.card-columns
			{
				column-count: 1
			}
		}
	}
}