<div class="peliculasContainer">
	<div class="container">
		<h1 class="titulos">{{titulo}}</h1>
		<div class="card-columns">
			<div class="card p-3" *ngFor="let pelicula of peliculas">
				<blockquote class="blockquote mb-0 card-body">
					<h2 (click)="this._peliculaService.showPelicula(pelicula.id)">{{pelicula.title}}</h2>
					<div class="content">
						<img class="img-fluid" src="http://image.tmdb.org/t/p/w400{{pelicula.poster_path}}" alt="{{pelicula.title}}">
						<p class="sinopsis">{{pelicula.overview}}</p>
					</div>
				</blockquote>
			</div>
		</div>
	</div>
</div>