@import '../../../assets/styles/_mixinsResets.scss';

.detalle
{
	background-image: -webkit-linear-gradient(#626262, #272727);
	background-image: -o-linear-gradient(#626262, #272727);
	background-image: linear-gradient(#626262, #272727);
	color: white;

	.container
	{
		@include boxSizing(border-box);
		padding: pixToEm(15);

		img
		{
			float: left;
			margin: 0 pixToEm(20) 0 0;
			width: calc(35% - 20px);
		}

		.tagline
		{
			margin: 0 auto 30px;
			font: $bold pixToEm(25) $lato;
		}

		.info
		{
			float: left;
			margin: 0 auto pixToEm(10);
			width: 65%;

			p
			{
				font: $bold pixToEm(18) $lato;
				margin: 0 auto pixToEm(5);

				span
				{
					font-weight: $light;

					&.btn-outline-light
					{
						margin: 0 pixToEm(5) pixToEm(5);
						padding: pixToEm(3) pixToEm(10);
					}
				}

				&.alert-light
				{
					padding: pixToEm(5);
				}
			}
		}
	}
}

@media screen and (max-width: 768px)
{
	.detalle
	{
		.container
		{
			img
			{
				float: none;
				margin: 0 auto 15px;
				width: 100%;
			}

			.info
			{
				float: none;
				width: 100%;
			}
		}
	}
}