<h1 class="titulos">{{pelicula.title}}</h1>
<div class="detalle">
	<div class="container">
		<h3 class="tagline">{{pelicula.tagline}}</h3>
		<div class="datos">
			<img src="http://image.tmdb.org/t/p/w400{{pelicula.poster_path}}" alt="{{pelicula.title}}">
			<div class="info">
				<p class="item">Popularidad: <span>{{ pelicula.popularity | number:".0-0" }}</span></p>
				<p class="item">Genero: <span class="btn btn-outline-light" *ngFor="let genero of pelicula.genres"> {{genero.name}} </span></p>
				<p class="item">Lenguaje original: <span>{{pelicula.original_language}}</span></p>
				<p class="item">Fecha de lanzamiento: <span>{{pelicula.release_date | date}}</span></p>
				<p class="item">Presupuesto: <span>{{pelicula.budget | currency}} USD</span></p>
				<p class="item">Ingresos: <span>{{pelicula.revenue | currency}} USD</span></p>
				<p class="item">Paises de produccón: <span class=" btn btn-outline-light" *ngFor="let pais of pelicula.production_countries">{{pais.name}}</span></p>
				<p class="item">Compañias de producción: <span class="btn btn-outline-light" *ngFor="let compania of pelicula.production_companies">{{compania.name}}</span></p>
				<p class="item alert alert-light">Sinopsis: <span>{{pelicula.overview}}</span></p>
			</div>
		</div>
		<button class="btn btn-light" (click)="volver()">Volver</button>
	</div>
</div>