<div class="cabeceraContainer">
	<div class="container">
		<div class="cabeceraBlock left">
			<a [routerLink]="['/peliculas']">
				<img src="assets/img/logo.png" alt="MaiQ">
			</a>
		</div>
		<div class="cabeceraBlock right">
			<p>Prueba técnica MaiQ por Alvaro Gomez</p>
		</div>
	</div>
</div>