@import '../../../assets/styles/_mixinsResets.scss';

.cabeceraContainer
{
	@include boxShadow(0 pixToEm(10) pixToEm(5) pixToEm(0) rgb(194,194,194));
	font-family: $lato;
	margin: 0 auto pixToEm(50);
	overflow: hidden;

	.container
	{
		.cabeceraBlock
		{
			margin: pixToEm(20) auto;
			padding: 0;
			width: 50%;

			&.left
			{
				float: left;

				img
				{
					display: block;
				}
			}

			&.right
			{
				float: right;

				p
				{
					text-align: right;
				}
			}
		}
	}
}

@media screen and (max-width: 768px)
{
	.cabeceraContainer
	{
		.container
		{
			.cabeceraBlock
			{
				width: 100%;

				&.left, &.right
				{
					float: none;

					img
					{
						margin: 0 auto;
					}

					p
					{
						text-align: center;
					}
				}

			}
		}
	}
}