@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap');

/**
 * Variables
 */

$browser-context: 16;

$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;

$lato: 'Lato', sans-serif;

/**
 * mixins
 */
@mixin boxShadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow:    $shadow;
	-ms-box-shadow:     $shadow;
	-o-box-shadow:      $shadow;
	box-shadow:         $shadow;
}

@mixin boxSizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing:    $box-model;
	-ms-box-sizing:     $box-model;
	-o-box-sizing:      $box-model;
	box-sizing:         $box-model;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
	transition:         $transition;
}

/**
 * Funciones
 */

@function pixToEm($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/**
 * Resets
 */

h1, h2, h3, h4, h5, div, ul, ol, li, p, span
{
	margin: 0;
	padding: 0;
}

.titulos
{
	clear: both;
	margin: 0 auto pixToEm(15);
	padding: 0;
	text-align: center;
}

.container
{
	margin: 0 auto;
	overflow: hidden;
}